/*------------
RESET
-------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------
CONTAINER
------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.col-mid {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.col-small {
    width: 400px;
    min-height: 400px;
    
}

.col-big {
    width: 800px;
    min-height: 400px;
    
}
/*------------
HEADER TOP
--------------*/

.header-top {
    background-color: #ADD8E6;
    padding: 10px 0;
}

.header-top > .container {
    display: flex;
    background-color: #DAA520;
}

.header-top > .container > * {
    border: 1px dashed black;
    padding: 6px;
}

.header-top .logo, .header-top .login {
    width: 20%;

}

.header-top .login {
    text-align: right;
}

.header-top nav {
    flex-grow: 1 ;
    text-align: center;
}

/*------------
HEADER BOTTOM
--------------*/

.header-bottom {
    background-color: #00008B;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-bottom > .col-mid {
    display: flex;
    background-color: #EE82EE;
    min-height: 400px;
    border: 1px dashed black;
}

/*------------
MAIN
------------*/

.section-white {
    background-color: white;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.section-white > .col-small {
    display: flex;
    background-color: #FFC0CB;
    border: 1px dashed black;
    
}

.section-white > .col-big {
    display: flex;
    background-color: #1E90FF;
    border: 1px dashed black;
}


   
